<nav class="bg-[#3887BE] sticky flex justify-between  items-center h-[80px]">
  <div class="w-[1240px] mx-10">
    <div
      class="flex font-semibold items-center text-white text-lg gap-1 justify-between">
      <div class="flex w-[900px] justify-between">
        <p class="text-4xl font-bold text-white">
          <img src="" alt="" /> HealingSkuy
        </p>
        <p class="flex text-lg tracking-wider justify-center items-center">
          Hi Welcome <%=username %>
        </p>
      </div>
      <div class="flex gap-8">
        <a href="/home">
          <p class="cursor-pointer text-lg hover:text-black">Home</p>
        </a>
        <a href="/profile/<%=id%>">
          <p class="cursor-pointer text-lg hover:text-black">Profile</p>
        </a>
        <a href="/logout">
          <p class="cursor-pointer text-lg hover:text-black">Logout</p>
        </a>
      </div>
    </div>
  </div>
</nav>
